import { createContext, useMemo } from 'react'

type ContextData = {}

export const {{.name}}= createContext<ContextData>(null!)

export default function {{.name}}Provider({ children }: { children: React.ReactNode }) {
  const value = useMemo(() => ({}), [])
  return <{{.name}}.Provider value={value}>{children}</{{.name}}.Provider>
}
