//go:build !goverter

package {{.packageName}}

import (
	"{{.projectName}}/pkg/design"
)

var FxModule = design.NewModule("{{.moduleName}}").
	Public(NewService).
	// PrivateValue(di.InterfaceValue(new(Converter), new(ConverterImpl))).
	Endpoint(func(g *design.ApiGroup, svc *Service) {
	}).
	ToFxModule()
