import "@testing-library/jest-dom";
import { fireEvent, render, screen } from "@testing-library/react";
import React from "react";
import {{.name}} from "./{{.name}}";

test("render test", async () => {
  render(<{{.name}} />);
});
